body {
    background-repeat: no-repeat;
    background-image: url(https://dss2.bdstatic.com/kfoZeXSm1A5BphGlnYG/skin/825.jpg?2);
    background-attachment: fixed;
    background-size: cover;
}

.box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 23%;
    background-color: gray;
    border-radius: 0px;
    height: 60px;
}

.first-font {
    margin-left: 20px
}

.font-set {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 6px;
    font-size: 13px;
    text-align: center;
    color: white;
    text-decoration: none
}

.font-set:hover {
    color: blue;
}

.littlebox {
    margin-right: 31px;
    margin-top: 19px;
    display: inline-block;
    position: relative
}

.more {
    display: none
}

.logo {
    margin-top: 80px;
    text-align: center
}

.searchbar {
    position: absolute;
    left: 28%;
    background-color: white;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(0, 119, 255);
    border-width: 2px;
    width: 45%;
    height: 40px;
}

.button {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4e6ef2;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 16%;
    height: 40px;
    right: 0px;
}

.button:hover {
    background: #4662d9;
}