@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap');
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 1000px;
}

.pageYi {
    animation: gradient 20s ease-in-out infinite;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

@keyframes gradient {
    0% {
        background: linear-gradient(45deg, rgba(29, 210, 255, 0.5), rgba(29, 165, 255, 0.5));
        background-size: 100%;
        background-position: center;
    }
    25% {
        background: linear-gradient(45deg, rgba(29, 210, 255, 0.5), rgba(29, 165, 255, 0.5));
        background-size: 1%;
        background-position: left;
    }
    50% {
        background: linear-gradient(45deg, rgba(29, 210, 255, 0.5), rgba(29, 165, 255, 0.5));
        background-size: 100%;
    }
    75% {
        background: linear-gradient(45deg, rgba(29, 210, 255, 0.5), rgba(29, 165, 255, 0.5));
        background-size: 1%;
        background-position: right;
    }
    100% {
        background: linear-gradient(45deg, rgba(29, 210, 255, 0.5), rgba(29, 165, 255, 0.5));
        background-size: 100%;
        background-position: center;
    }
}

.pageEr {
    background: linear-gradient(45deg, rgba(29, 210, 255, 0.5), rgba(29, 165, 255, 0.5));
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pageSan {
    background-color: rgba(98, 198, 255, 0.404);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer {
    background-color: rgba(98, 198, 255, 0.404);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.door ul {
    display: flex;
    list-style-type: none;
}

.door ul li {
    margin-right: 20px;
    cursor: pointer;
}

.door ul li a {
    color: rgb(0, 119, 255);
}

.footer p {
    color: rgba(109, 150, 187, 0.719);
    position: relative;
    top: 5px;
}

.cent {
    position: relative;
    height: 550px;
    width: 100%;
    display: flex;
}

.cent .oneLeft {
    height: 100%;
    width: 50%;
}

.cent .oneRight {
    height: 100%;
    width: 50%;
}

.oneLeft .imgasbg {
    background-image: url(../images/3.png);
    background-size: 100%;
    width: 600px;
    height: 345px;
    position: relative;
    top: 20%;
    left: 100%;
    transform: translateX(-100%);
    opacity: 90%;
}

.oneLeft {
    display: flex;
    align-items: center;
}

.oneLeft img {
    margin-left: 100%;
    transform: translateX(-100%);
}

.oneLeft img.samp {
    width: 70%;
    height: 70%;
    transition: all .3s linear;
}

.oneLeft img.samp:hover {
    width: 80%;
    height: 80%;
}

.oneRight .txt {
    position: relative;
    top: 25%;
    width: 550px;
    text-align: center;
    left: 50px;
    user-select: none;
}

.txt p {
    font-family: 'Noto Sans SC', sans-serif;
    line-height: 80px;
    color: white;
    font-size: 40px;
}

.txt a {
    position: relative;
    top: 50px;
    color: rgb(65, 128, 199);
}

.txt .bx {
    display: flex;
}

.bx .btn {
    text-decoration: none;
    color: white;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bolder;
}

.bx .btn1 {
    background-color: rgb(79, 139, 252);
    color: rgb(255, 255, 255);
    transition: all .1s ease-in-out;
}

.bx .btn1:hover {
    background-color: rgb(37, 193, 255);
}

.bx .btn2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all .1s ease-in-out;
}

.bx .btn2:hover {
    background-color: rgb(232, 246, 255);
}